body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(
            135deg,
            #6297bd 0%,
            #3d6383 30%,
            #224363 70%,
            #182c43 100%
    ) fixed;
    font-family: sans-serif;
}

.recipePage-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 50px;
    margin-top: 20px;
    /*border: 1px solid black;*/

}

.hero-title {
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 0.82;
    letter-spacing: -0.05em;
    margin-top: 10px;
    min-width: fit-content;
    color: white;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hero-logo-link {
    text-decoration: none;
    display: block;
    width: fit-content;
}

.clean-white-card {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #224363;

    overflow: hidden;
    /*box-shadow: 0 10px 30px rgba(0,0,0,0.1);*/
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
}

.recipe-hero-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.recipe-title-section {
    padding: 30px;
}

.recipe-title {
    font-size: 3.0rem;
    margin: 0 0 20px 0;
    font-weight: bold;
    letter-spacing: -0.8px;

    position: relative;
    display: block;
    width: 60%;
    padding-bottom: 15px;
}

.recipe-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 90px;
    height: 5px;
    background-color: #224363;
    border-radius: 12px;
}

.category-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
    line-height: 1;
}

.sweetness-wrapper {
    margin-bottom: 10px;
}

.category-link2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 700;
    color: #3d6383;
    text-decoration: none;
    transition: all 0.2s ease;
    border-bottom: 1px solid transparent;
    margin: 0;
}

.category-link2:hover {
    color: #3d6383;
    border-bottom: 1px solid #3d6383;
    cursor: pointer;
}

.category-separator {
    color: rgba(61, 99, 131, 0.69);
    font-size: 0.8rem;
    pointer-events: none;

}

.sweetness-badge {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 600;
    color: #3d6383;
}

.recipe-grid-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    padding: 40px 60px;
}

.ingredients-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ingredients-list li {
    margin-bottom: 6px;
}

.instructions-text ol li {
    margin-bottom: 2px;
    padding-left: 3px;
    line-height: 1.6;
}

.back-btn {
    margin-top: 20px;
    background: transparent;
    border: 1px solid #3d6383;
    color: #3d6383;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.back-btn:hover { opacity: 1; }
