body {
    margin: 0;
    min-height: 100vh;

    background: linear-gradient(
            135deg,
            #1d4b6e 0%,
            #5789ad 20%,/* Ljusare blå (toppen/vänster) */
            #c9e7ff 50%,
            #5789ad 80%,/* Din primära blå från bild 2 */
            #09293e 100%  /* En djupare blå för skugga (botten/höger) */
    );
    background-attachment: fixed;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    font-family: sans-serif;
}


.glass-inputField {
    background-color: rgba(255, 255, 255, 0.08); /* Transparens */
    backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.15); /* Lysande kant */
    border-radius: 10px;

    max-width: 350px;
    font-size: 14pt;
    padding: 8px 15px;
    color: rgba(255, 255, 255, 0.6);
    outline: none;

}

/* Place holder-färg */
.glass-inputField::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

