body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(
            135deg,
            #6297bd 0%, /* Din dämpade ljuskälla */
            #3d6383 30%, /* EN MELLANTON: Hjälper ljuset att "blöda" ut mjukare */
            #224363 70%, /* Din djupa marinblå */
            #131e2c 100% /* Din mörkblå för djup */
    ) fixed;
    font-family: sans-serif;
    color: white;
}

.page-wrapper {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding-left: 12%;
    /* Gap styr avståndet mellan rubriken och sökfältet */
    gap: 170px;
}

.hero-title {
    font-size: 4.7rem;
    font-weight: 800;
    line-height: 0.9;
    letter-spacing: -0.04em;
    margin: 0;

    /* öka värdet för att flytta hero-text längre mot kanten */
    transform: translateX(0px);
    min-width: fit-content;

    /* Ge texten en färg för att upplevas som mer subtil + inte ta allt fokus i bilden/ från search-fältet?
     Addera en hint av blåare färg, som återanvänds på andra ställen (drink-carden ex)?*/
    /*color: #224363;*/
    /*opacity: 0.9;*/

    /*Alt. 2. */
    color: white;
    opacity: 0.8;
}

.search-area {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    /* Flyttar ner sökområdet med x px från mitten-centreringen*/
    transform: translateY(30px);

}

.glass-inputField {
    background: rgba(255, 255, 255, 0.05); /* Transparens */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.15); /* Lysande kant */
    border-radius: 10px;
    width: 400px;
    font-size: 1.1rem;
    padding: 10px 15px;
    color: rgba(255, 255, 255, 0.6);
    outline: none;
}

/* Place holder-färg */
.glass-inputField::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 500px;
}

.glass-button {
    background: rgba(255, 255, 255, 0.05); /* Transparens */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.15); /* Lysande kant */
    border-radius: 10px;

    color: rgba(255, 255, 255, 0.6);
    padding: 8px 16px;
    font-size: 0.85rem;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.glass-button.active {
    background: rgba(255, 255, 255, 0.25);
    border-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    transform: translatey(0);
}

.sweetness-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sweetness-container label {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    opacity: 0.8;
}

.glass-slider {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    height: 4px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    outline: none;
    backdrop-filter: blur(5px);
}

.glass-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: white;
    opacity: 0.8;
    margin: 0;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.slider-wrapper {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    padding: 0 8px;
    box-sizing: border-box;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    padding: 0 4px;
    box-sizing: border-box;


}

.slider-labels span {
    font-size: 0.95rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.4);
    transition: all 0.2s ease;
    width: 20px;
    display: flex;
    justify-content:center;
    margin-left: -10px;
    margin-right: -10px;

    white-space: nowrap;
    pointer-events: none;
}

.slider-labels span.active {
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transform: scale(1.2) translateY(2px);
    opacity: 1;
}




